.btn {
  
  border: none;
  @include border-radius(10px);
  overflow: hidden;
  text-align: center;

  a {
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
  }

  &:focus {
    outline: 0;
  }

  &--primary {
    background: $primary-color;
    a {
      color: white;;
    }
   
    &:hover {
        
    }
  }

  &--secondary {
    background: $secondary-color;
    a {
      color: white;;
    }
   
    &:hover {
        
    }
  }
}

